name: CI - Build, Test, Lint, Docker

on:
 workflow_dispatch:
  # push:
  #   branches: 
  #   - master

  # pull_request:
  #   branches: 
  #   - master

jobs:
  build-test-lint-docker:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "22.13.1"       

      - name: Install dependencies
        run: npm ci
        working-directory: app

      - name: Run tests
        run: npm test
        working-directory: app

      - name: Run lint
        run: npm run lint
        working-directory: app

      - name: Build Docker image
        run: |
          docker build \
            -t devops-sample-app:${{ github.sha }} \
            .

      # OPTIONAL: push to Docker Hub / registry (uncomment & configure)
      # - name: Log in to Docker Hub
      #   uses: docker/login-action@v3
      #   with:
      #     username: ${{ secrets.DOCKERHUB_USERNAME }}
      #     password: ${{ secrets.DOCKERHUB_TOKEN }}
      #
      # - name: Tag and push image
      #   run: |
      #     IMAGE_NAME="your-dockerhub-user/devops-sample-app"
      #     git_sha="${{ github.sha }}"
      #     docker tag devops-sample-app:${git_sha} ${IMAGE_NAME}:${git_sha}
      #     docker tag devops-sample-app:${git_sha} ${IMAGE_NAME}:latest
      #     docker push ${IMAGE_NAME}:${git_sha}
      #     docker push ${IMAGE_NAME}:latest
